<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	  <clear />
    <!-- The private feed containing Tailspin.SpaceGame.Web.Models -->
    <add key="Tailspin.SpaceGame.Web.Models" value="https://pkgs.dev.azure.com/jamesbltrinidad/dev-ops-project-001/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
    <!--<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />-->
  </packageSources>
</configuration>